<undely-HomePageThreeSlider [isRTL]="undelyService.isDirectionRtl"></undely-HomePageThreeSlider>
<undely-CtaTwo></undely-CtaTwo>
<undely-CollectionGallery></undely-CollectionGallery>

<div class="section-gap grey-bg">
   <div class="container">
         <div class="block-title mb-5"> <h3 class="font-light">Shop By Category</h3></div>
         <div fxLayout="row wrap" class="col-gap category-v2-wrapper" *ngIf="categories && (categories.clothing.length>0 && categories.shoes.length>0 && categories.accessories.length>0 && categories.gadgets.length)">
           <undely-ProductCategoryCard class="mb-4" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25"
             [productCategory]="categories.clothing[1]" [totalProducts]="categories.clothing.length"></undely-ProductCategoryCard>
           <undely-ProductCategoryCard class="mb-4" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25"
             [productCategory]="categories.shoes[0]" [totalProducts]="categories.shoes.length"></undely-ProductCategoryCard>
           <undely-ProductCategoryCard class="mb-4" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25"
             [productCategory]="categories.accessories[0]" [totalProducts]="categories.accessories.length"></undely-ProductCategoryCard>
           <undely-ProductCategoryCard class="mb-4" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25"
             [productCategory]="categories.gadgets[0]" [totalProducts]="categories.gadgets.length"></undely-ProductCategoryCard>
         </div> 
   </div>
</div>

<div class="shop-card-wrapper section-gap pt-0 pb-5 grid-card-wrapper tab-sldier-v2" *ngIf="products">
  
    <mat-toolbar style="height:270px;background-color:#000" class="section-title-toolbar grid-toolbar">
      <mat-toolbar-row>
         <div class="container">
        <div class="w-100 mb-3">
          <div class="block-title mb-2">
            <h2 class="text-inverse mb-0 text-xxl font-light">New Products</h2>
          </div>
        </div>
        <div class="mat-tab-toolbar">
          <mat-tab-group [(selectedIndex)]="undelyService.newArrivalSelectedTab">
            <mat-tab label="All"></mat-tab>
            <mat-tab label="Men"></mat-tab>
            <mat-tab label="Women"></mat-tab>
            <mat-tab label="Gadgets"></mat-tab>
          </mat-tab-group>
        </div>
      </div>
      </mat-toolbar-row>
    </mat-toolbar>
 
  <div class="container">
    <ng-container *ngIf="onNewArrivalsSelectedTab(undelyService.newArrivalSelectedTab)">
      <ngx-slick-carousel *ngIf="undelyService.isDirectionRtl" class="carousel" [config]="rtlSlideConfig">
        <div ngxSlickItem *ngFor="let product of newProductsSliderData">
          <undely-NewProductsCard [product]="product" (addToCart)="addToCart($event)" [currency]="undelyService.currency"
            (addToWishlist)="addToWishlist($event)"></undely-NewProductsCard>
        </div>
      </ngx-slick-carousel>
      <ngx-slick-carousel *ngIf="!undelyService.isDirectionRtl" class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let product of newProductsSliderData">
          <undely-NewProductsCard [product]="product" (addToCart)="addToCart($event)" [currency]="undelyService.currency"
            (addToWishlist)="addToWishlist($event)"></undely-NewProductsCard>
        </div>
      </ngx-slick-carousel>
    </ng-container>
  </div>
</div>
<undely-CTASingleBanner></undely-CTASingleBanner>
<div class="section-gap pt-0 shadow-disable">
<div class="container">
  <div  class="w-100">
   
    <div class="block-title text-center mb-4"><h3>Top Brands</h3></div>
  </div>
  <undely-BrandsLogo [isRTL]="undelyService.isDirectionRtl"></undely-BrandsLogo>
</div>
</div>

<undely-SubscribeTwo></undely-SubscribeTwo>
<undely-DownloadAppSection></undely-DownloadAppSection>



