<mat-toolbar color="primary" class="undely-fixed-header mat-elevation-z6">
  <mat-toolbar-row>
    <div class="container">
      <div fxLayoutAlign="space-between">
        <div class="logo-site">
          <undely-AppLogo></undely-AppLogo>
        </div>
        <undely-Menu></undely-Menu>
        <button class="responsive-toggle" mat-icon-button (click)="toggleSidebar()">
          <i class="material-icons">menu</i>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
