// @import "variables";
@mixin theme-reset($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .bg-primary {
        @include _mat-toolbar-color($primary);
    }
    .bg-accent {
        @include _mat-toolbar-color($accent);
    }
    .bg-warn {
        @include _mat-toolbar-color($warn);
    }

    .secondary-text-color{
        color: mat-color($foreground, secondary-text);
    }
    .primary-color{
        color: mat-color($primary) !important;
    }
    .accent-color{
        color: mat-color($accent) !important;
    }
    .warn-color{
        color: mat-color($warn) !important;
    }

    .mat-drawer-container{
        background: mat-color($background, app-bar);
    }
    .mat-card {
        background: mat-color($background, background);
    }

    /* slick list */
    .slick-list{
        background-color: mat-color($background, background);
        color: mat-color($foreground, base);
    }

    .slick-prev:before, .slick-next:before {
        color: mat-color($foreground, base);
    }

    
    /* ais */
    .ais-Pagination-item--selected {
        background: mat-color($accent);
        color: #fff;
    }
    
    .ais-ClearRefinements-button {
        background: mat-color($accent);
        color: #fff;
    }

    .ais-RangeSlider {
        .noUi-connect {
            background: mat-color($accent);
        }
    }

    .ais-RatingMenu-starIcon {
        fill: mat-color($accent);
      }
    
    /* other thing*/

    .sidebar-area{
        background: linear-gradient(
            rgba(mat-color($primary), 0.55),
            rgba(mat-color($accent), 0.55)
            ), url("/assets/images/bg-sidebar2.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* toolbar */
    mat-toolbar-row.header-v3-bottom {
        height: 50px;
        background: mat-color($primary);
    }

    .header-v2-bottom {
        background: mat-color($background, app-bar);
      }

    .rtl-layout a{
        background: mat-color($primary);
    }

    .search-form {
        .box{
            background: mat-color($background, card);
        }
    }

    .search-bar{
        background: mat-color($background, background);
        color: mat-color($foreground, base);
    }

    .app-nav {
        .app-nav-list>li a {
            color: mat-color($foreground, base);
        }
        .app-nav-list {
          >li {
      
            &:after {
              background: mat-color($accent);
            }
          }
        
          .sub-menu {
            background: mat-color($background, background);
            li {
        
                a {
                  color: mat-color($foreground, base);
                }
              }
          }
        }
      }


    /* Loader */
    .loading-bar-fixed > div#loading-bar-spinner {
        background: mat-color($background, app-bar)!important;
    }
    
    div#loading-bar-spinner .spinner-icon {
        color: mat-color($primary);
    }
    
    .loading-bar-fixed > div .bar {
        background: mat-color($primary) !important;
    }

    /*end*/

        /* swal */
        .swal2-popup.mat-dialog-container {
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
        background: mat-color($background, card)!important;
        color: rgba(0,0,0,.87);
    }

    .header{
        background: mat-color($background, card);
        color: mat-color($foreground, base);
        .info-content{
            .top-contact-form{        
                border-color: mat-color($foreground, divider);
            }
        }
    }
    .content-header h4{
        color: mat-color($primary, lighter);
    }
    .favorites-container:after{
        color: mat-color($accent);
    }


    .horizontal-menu{
        background: mat-color($background, card);
    }
    .horizontal-menu-item {        
        .horizontal-sub-menu{
            background: mat-color($background, card);
        }
        .mat-button{
            color: mat-color($foreground, secondary-text);
            .horizontal-menu-title{
                color: mat-color($foreground, text);
            }
            &.parent-item{
                .horizontal-menu-icon{
                    background: mat-color($background, focused-button);
                    color: mat-color($foreground, secondary-text);
                }
                &.active-link{
                    background: mat-color($background, focused-button);
                    .horizontal-menu-icon{
                        background: mat-color($primary);
                        color: #fff;
                    }
                }
            }
        }
    }
        
    .menu-item{
        .mat-button{            
            .menu-icon{
                background: mat-color($background, focused-button);
                color: mat-color($foreground, secondary-text);
            }
            .menu-title{
                color: mat-color($foreground, text);
            }
            &.active-link{
                background: mat-color($background, focused-button);
                .menu-icon{
                    background: mat-color($primary);
                    color: #fff;
                }
            }
        }
    }
    .menu-expand-icon{
        color: mat-color($foreground, secondary-text);
    }
    .breadcrumb a{
        color: mat-color($primary, lighter);
    }
    .top-toolbar, .landing-toolbar{
        background: mat-color($primary, darker);
        color: mat-color($primary, lighter);
    }
    .menu-toolbar{
        background: mat-color($primary, 900);
        color: mat-color($primary, 100);
    } 
    .ps__thumb-y{
        background-color: mat-color($primary);
    }
    .ps__thumb-x{
        background-color: mat-color($primary);
    }

    .testimonial-item, .pricing-card {
        border-top: 4px solid mat-color($accent);        
    }

    /* ngx-charts */
    .ngx-charts{
        text{
            fill: mat-color($foreground, text); 
        }       
    }
    [class*=gradient-] .ngx-charts{
        text{
            fill: #fff;
        }       
    }

    /* ngx-pagination */
    .annular-pagination .ngx-pagination{
        margin-bottom: 0;
        padding: 4px;
        .current {
            @include _mat-toolbar-color($primary);
        }
        a:hover, button:hover{
            background: rgba(mat-color($primary), 0.2);
            color: mat-color($foreground, base);
        }
    } 

    /* ngx-quill */
    .ql-snow .ql-picker,
    .ql-editor.ql-blank::before{
        color: mat-color($foreground, text);
    }
    .ql-snow .ql-stroke{
        stroke: mat-color($foreground, text);
    }
    .ql-snow .ql-fill{
        fill: mat-color($foreground, text);
    }
    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label, 
    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options{
        background: mat-color($background, app-bar);
    }

}
